.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: teal;
}

.subtitleContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: teal;
}

.switchLabel {
    font-size: 24px;
    font-weight: lighter;
}

.switchForm {
    margin-top: 20px;
}

.resultContainer,
.historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 260px;
}

.registerButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

.registerContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton {
    margin-top: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    color: white;
    display: flex;
    border-bottom: 1px solid teal;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(216, 234, 233, 0.74);
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header ul li {
    font-size: 20px;
    color: teal;
    margin-right: 10px;
}

.header ul li a:hover {
    text-decoration: none;
    color: #05c5c5;
}

.registerInput {
    margin-top: 10px;
}

.errorLabel {
    white-space: pre-wrap;
}

.iconText {
    display: flex;
    align-items: center;
}

.iconSpan {
    margin-left: 0.1em;
}