.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding-top: 20px;
    background-color: floralwhite;
}

.mainContainer{
    margin-top: 80px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    margin-top: 33%;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: teal;
}

.subtitleContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: teal;
}

.switchLabel {
    font-size: 24px;
    font-weight: lighter;
}

.switchForm {
    margin-top: 20px;
}

.resultContainer,
.historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 260px;
}

.registerButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.inputLabel {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: teal;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}

.registerContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginButton {
    margin-top: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    color: white;
    display: grid;
    border-bottom: 1px solid teal;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    z-index: 1000;
    background-color: rgba(216, 234, 233);
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header ul li {
    font-size: 20px;
    color: teal;
    margin-right: 10px;
}

nav {
    grid-column: 2;
}

.header ul li a:hover {
    text-decoration: none;
    color: #05c5c5;
}

.registerInput {
    margin-top: 10px;
    background-color: white;
    width: 307px;
}

.errorLabel {
    white-space: pre-wrap;
}

.iconText {
    display: flex;
    align-items: center;
}

.iconSpan {
    margin-left: 0.1em;
}

.headerRight {
    grid-column: 3;
    justify-self: end;
    display: flex;
    justify-content: space-between;
}

.headerButton {
    margin: 0 2px;
}

.burgerMenuIcon {
    font-size: 2em;
    color: teal;
}

.burgerMenuIcon:hover {
    cursor: pointer;
}

.burgerMenuContent {
    background-color: teal;
    border-left: 2px solid rgb(0, 0, 0);
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1em;
    font-weight: bold;
    bottom: 0;
    width: 220px; /* adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 1000;
    justify-content: start;
    padding: 80px 0px;
}

.link {
    color: rgba(216, 234, 233);
    text-decoration: none;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 4px 0;
}

.link:hover {
    background-color: #065555;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: rgba(216, 234, 233);
    cursor: pointer;
}

.usernameNoAccess {
    margin-top: 10px;
    background-color: white;
    font-size: 12px;
}

.weather-square {
    background-color: rgb(175, 217, 215);
    border-radius: 10px;
    border: 1px solid teal;
    width: 25%;
    height: 100px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.weather-icon {
    size: 40px;
}

.weather-info {
    
}

.weather-temp {

}

.weather-desc {

}